BraveSoftware/
Code/
GIMP/
Thunar/
create-next-app-nodejs/
dconf/
evolution/
fontconfig/
go/
godot/
gtk-3.0/
guake/
htop/
kcachegrindrc
kwalletrc
neofetch/
nextjs-nodejs/
obsidian/
orage/
pavucontrol.ini
pypoetry/
spotify/
systemd/
systemmonitorrc
unity3d/
user-dirs.dirs
user-dirs.locale
vscode-sqltools/
xfce4/
zed/
